*
{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
/* body
{
    color: green;
    background-color: black;
} */
.Outline
{
    border: 5px solid white;
    margin: 20px;
    text-align: center;
}